@using LigalFrontend.Functions

<footer class="footer"> 
    <div class="footer_contents container">
        <div class="col-lg-6 col-sm-6 col-xs-6 ">
            <h4 ><a href="@Url.Action("Index","Home")" class="text-muted">Ligal XOne</a></h4>
            <p style="font-size:10px;">@Functions.infoVersion()</p>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-6 " style="margin-top:10px;">
            <a href="mailto:josedelrio@warnier.com" class="text-muted texto-footer"><span class="glyphicon glyphicon-envelope"></span> Ayuda y contacto</a>
        </div>
    </div>
</footer>
