@{
    ViewBag.Title = "Cierre de sesión";
    Layout = "~/Views/Shared/_Logoff.cshtml";
    var controlador = ViewContext.RouteData.Values["controller"].ToString();
}

@*<div class="desconexion">
    <img src="~/Content/xunta/imaxes/desconexion.png" alt="desconexion" />
    <p class="exit">Vai abandoar o programa</p>
</div>*@


@using (Html.BeginForm("LogOff", "Home", FormMethod.Post))
{

    <div class="col-lg-12 col-sm-12 col-xs-12 form-group " style="margin-top:15%;">

        <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-md-offset-4 col-xs-12">
            <h2 class="alineaCentro">@ViewBag.Title</h2>
        </div>

       
        <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-md-offset-4 col-xs-12 textoDespedida">
            <p class="alineaCentro">Va a cerrar la sesión y abandonar la plataforma. ¿Está seguro?</p>
        </div>

        <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-md-offset-4 col-xs-12 filaBotonera">
            @Html.Hidden("RedirectTo", Url.Action("Index", controlador))
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <input class="btn btn-warning anchoBoton" id="botonCancelar" type="button" name="botonCancelar" value="Cancelar" onclick="redirect()"/>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <input class="btn btn-primary anchoBoton alineaDerecha" id="botonSalir" type="submit" name="botonSalir" value="Salir"/>
            </div>
        </div>
    </div>
}