<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <button type="button" class="btn btn-primary" style="float:right;" id="btnMuestraFiltro">
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        </button>
    </div>
</div>