@{
    var controlador = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row">
    <div style="float:right;">
        <a style="float:left; margin:5px 10px 5px 0;" href="@Url.Action("create", controlador)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
    </div>
</div>
