@*@{
    var controlador = ViewContext.RouteData.Values["controller"].ToString();
}*@

<div class="row" id="btnCrear">
    <div class="col-lg-10 col-sm-10 col-xs-10">
        <h2>Listado</h2>
    </div>

    <div id="btnExportar" class="col-lg-2 col-sm-2 col-xs-2">
        <a><span class="glyphicon glyphicon-export" aria-hidden="true"></span></a>
    </div>
    
</div>

