@{
    var controlador = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row" id="btnCrear">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <h2>@ViewBag.Title</h2>
    </div>
    
</div>

