@model LigalFrontend.ViewModels.VehiculoVM

@{
    ViewBag.id = Model.vehiculo.ID;
    ViewBag.variable = Model.GetHashCode().ToString();
    var controllerContent = "UsuariosVehiculo";
}

<tr>
    @Html.DropDownList("selectUsuariosVehiculo", new SelectList(Model.listaUsuarios, "ID", "NOMBRE"), new { @class = "form-control", })
    <td><a id="removeContent_@(controllerContent)_@(ViewBag.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
</tr>