@model LigalFrontend.ViewModels.VisitasGanaderosVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Posicionamiento Visitas Ganadero";
    var controlador = ViewContext.RouteData.Values["controller"].ToString();
}

@Html.AntiForgeryToken()
@{
    Html.RenderPartial("~/Views/Shared/Buscador/_FiltroVisitasGanadero.cshtml");
}

@section Scripts
{

    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', initialize);

        $(document).ready(function () {
            $("#buscador_BoolCodMuestra").on("change", function () {
                if ($(this).is(":checked")) {
                    $("#buscador_codMuestra").val(1);
                } else {
                    $("#buscador_codMuestra").val(0);
                }
            });
        });
    </script>
}

@{
    Html.RenderPartial("~/Views/Shared/DisplayTemplates/divTituloPosicionamiento.cshtml");
}


<div class="containerMapa">
    <div id="map" class="map-canvas"></div>
</div>


<div id="indexReal"></div>