@model LigalFrontend.ViewModels.ProductosgrVM
@using LigalFrontend.Helpers

@{ 
    Layout = null;
}

@{
    ViewBag.id = Model.productogr.ID;
    ViewBag.variable = Model.GetHashCode().ToString();
}

<tr id="@(ViewBag.variable)">
    <td></td>
    <td>@Html.DropDownListFor(x => x.productogr.IDPRODUCTO , new SelectList(Model.listaProductos, "ID", "PRODUCTO"), new { @class = "form-control" })</td>
    <td>@Html.EditorFor(x => x.productogr.CANTIDAD, new { htmlAttributes = new { @class = "form-control" } })</td>
    <td>@Html.EditorFor(x => x.productogr.TEMPERATURA, new { htmlAttributes = new { @class = "form-control" } })</td>
    <td><a id="deleteFilaContent_ajax"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
</tr>