<div class="container menu">
    <div class="navbar-header">
        <a href="@Url.Action("Index","Home")">Ligal XOne</a>     
    </div>

    <div>
        <ul class="nav navbar-nav navbar-right">
            
            <li><a><span class="glyphicon glyphicon-user"></span> @Session["LogedUserFullname"]</a></li>

            <li><a href="@Url.Action("Logoff","Home")"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
        </ul>
    </div>
</div>
